<div id="monitor" class="relative bg-gray-800 rounded-t-xl shadow-lg w-[90%] h-[800px]">
    <div class="bg-gray-700 h-3 rounded-t-xl"></div>
    <div id="monitor-screen" class="bg-white h-[800px] flex flex-col space-y-2 p-2 overflow-x-auto overflow-y-auto">
      <div id="grid-container" class="flex flex-col min-w-full"></div>
    </div>
    <div class="bg-gray-700 h-2 rounded-b-xl"></div>
    <div id="resizer" class="absolute top-0 right-0 h-full mt-3 w-2 bg-gray-600 cursor-ew-resize"></div>
    <div class="absolute top-0 left-0 h-full mt-3 w-2 bg-gray-600 cursor-ew-resize"></div>
  </div>
<div class="mt-2 flex flex-col items-center">
    <div class="bg-gray-700 w-24 h-2"></div>
    <div class="bg-gray-700 w-32 h-4 rounded mt-1"></div>
  </div>